pytorch-lightning 
torch
torchvision
torchaudio
numpy

# yolo api
ultralytics

# config hydra 
hydra-core

# for cross validation
scikit-learn
opencv-python
pillow
timm

# huggingface datasets
datasets
transformers